.roomy-btn{
    min-width: 280px;
    text-align: center;
    background: rgba(237, 107, 78, 0.99);
    border-radius: 10px;
    color: #FEFEFE;
    padding: 10px 0;

    &.large{
        width: 100%;
    }

    &:hover{
        background: #47A87A;
        color: #FEFEFE;
    }
}