.roomy-btn{
    min-width: 280px;
    text-align: center;
    background: rgba(237, 107, 78, 0.99);
    border: 1px solid rgba(237, 107, 78, 0.99);
    border-radius: 10px;
    color: #FEFEFE;
    padding: 10px 0;

    &.large{
        width: 100%;
    }

    &:hover{
        color: rgba(237, 107, 78, 0.99);
        border-color: rgba(237, 107, 78, 0.99);
        background: #FEFEFE;
    }
}