.contact-details{
    text-align: center;
    padding-top: 50px;
    h2{
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 6px;
        font-family: 'Fira Sans', sans-serif;

        img{
            padding: 0;
        }
    }
}