header {
  .header-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
      flex-grow: 1;
      text-align: center;
    }

    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        display: inline-block;

        a{
          padding: 0 27px;
        }
      }
    }
  }
}
