.featured-card {
  margin-top: 170px;
  margin-bottom: 240px;

  .row {
    align-items: center;
  }
  .cover-image {
    position: relative;

    .check-icon {
      position: absolute;
      right: -50px;
      top: -60px;
    }
  }
  .featured-content {
    padding-left: 30px;

    p {
      padding: 15px 0;
    }
  }
}
