.contact-area{
    padding: 150px 0 100px;

    img{
        padding-bottom: 72px;
    }

    .contact-options {
        text-align: center;

        p{
            margin: 0;
            font-weight: 600;
            font-family: 'Fira Sans', sans-serif;
        }
    }
}