@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500&family=Fira+Sans:wght@400;500;600;700&display=swap");

body {
  color: #4f4e4e;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
/* font-family: 'Encode Sans', sans-serif;
font-family: 'Fira Sans', sans-serif; */
p {
  color: #909090;
  font-family: "Encode Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f4e4e;
  margin: 0;
}

a {
  color: #4f4e4e;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
a:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
h2{
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
h4{
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1220px;
}